# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Eclipse
.classpath
.settings
.project
.factorypath

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target
dependency-reduced-pom.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Visual Studio Code
.vscode/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
